.container {
    height: 100%;
}

:root {
    --primary-color: #000000;
    --secondary-color: #fff;
    --tertiary-color: #fff;

    --primary-typography: Roboto;
    --scondary-typography: sans-serif;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #f0f0f0;
        --secondary-color: #000000;
        --tertiary-color: #28282B;

    }
} */

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    display: block;
    color: inherit;
    appearance: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    overflow-x: hidden;
    font-size: 100%;
    font-family: var(--primary-typography);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    line-height: 1.4em;
}

body,
html {
    width: 100%;
    min-height: 100%;
}

html {
    scroll-behavior: initial;
}

::-webkit-scrollbar {
    display: none;
    background: transparent;
}

body {
    -ms-overflow-style: none;
}

html {
    scrollbar-width: none;
}