/* General */
html {
  scroll-behavior: initial;
}

/* Loader */
.container__loader {
  z-index: 100000;
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  height: 100vh;
  transition: all 4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Jumping Dots */
.loader__span {
  width: .6rem;
  height: .6rem;
  margin: 0 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  animation: jumping 1.4s 2 linear forwards;
}

.loader__span:nth-child(2) {
  animation-delay: 0.35s;
}

.outsider {
  transition: all 4s;
  animation: 1.4s jumping 0.75s 2 linear, 1.5s jumping 3.2s 8 linear forwards;
}

/* Say hi */
.loader__h2 {
  margin-left: -5.1rem;
  width: 5.6em;
  padding: .5rem;
  transition: all 4s;
  font-size: 1.4em;
  animation: 2s greet forwards;
}


/* Navbar */
.navbar {
  z-index: 10000;
  position: fixed;
  transition: 200ms clip-path 0ms, 200ms height 150ms;
  display: flex;
  height: 4em;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
  backdrop-filter: blur(1px);
}

.navbar__list {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-area: nav;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  column-gap: 0.75em;
  align-items: center;
  grid-auto-rows: 3em;
  place-self: center;
  list-style-type: none;
  font-size: 1em;
  padding: 0.5rem 1rem;
}

.button__item {
  position: relative;
  max-width: 4.1rem;
}

.navbar.scrolled {
  transition: 200ms clip-path 0ms, 200ms height 150ms;
  height: 3.5em;
}


/* Lateral navbar*/
.Quick-navigation {
  position: fixed;
  z-index: 1;
  margin: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.Quick-navigation-item {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-size: .8em;
  transition: color 0.3s;
  padding: 0.5em;
  display: block;
}

.Quick-navigation-item:hover,
.Quick-navigation-item.current {
  color: #fff;
}

.Scroll-progress-indicator {
  color: rgba(0, 0, 0, 0.5);
  will-change: opacity, transform;
  transition: all 0.5s;
  left: -10px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  opacity: 0;
  padding: 1em;
  transform: translateX(200%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
}

.Scroll-progress-indicator.visible {
  transform: translateX(-100%) translateY(-50%);
  opacity: 1;
}


/* Main */
.main {
  position: relative;
  clip-path: inset(0 0 50% 0);
  margin-bottom: -100vh;
  padding-bottom: 200vh;
}

.main .parallax__inner {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 2fr 1fr);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Main - Info*/
.info {

  grid-column: 1/4;
  grid-row: 3;
  row-gap: 1em;
  column-gap: 2%;
  background-color: var(--secondary-color);
  grid-template-columns: 0.7fr 2fr 8fr;
}

.main__container {
  display: grid;
  position: sticky;
  top: 0;
  margin-top: -100vh;
  width: 100%;
  height: 110vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.shapes {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--primary-color);
  overflow: hidden;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.shape.shape-1 {
  background-color: rgba(106, 90, 205, .3);
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}

.shape.shape-2 {
  background-color: rgba(238, 130, 238, .4);
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}

.shape.shape-3 {
  background-color: rgba(0, 0, 255, .2);
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.content {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  justify-content: left;
  text-align: left;
  height: 110vh;
  width: 100%;
  background: #fff;
  mix-blend-mode: screen;
}

.header__h1 {
  margin-top: auto;
  padding-left: 8px;
  font-size: 1.4em;
  grid-row: 2;
}

.main__p {
  grid-row: 3;
  font-size: 5em;
  line-height: 1.2em;
  color: #000;
  margin: 0;
}





/* Main - Canvas */
.canvas {
  position: sticky;
  display: grid;

  grid-row: 3;
  grid-column: 4;
  grid-template-rows: repeat(2, 1fr) 2fr;
  grid-template-columns: repeat(4, 1fr);
}

.circle {
  position: sticky;
  top: 0;
  grid-row: 3;
  grid-column: 4;
  height: 15.6rem;
  perspective: 125rem;
  perspective-origin: center center;
  width: 15.6rem;

}

.nucleo {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primary-color);
  height: .6rem;
  width: .6rem;
  border-radius: 50%;
}

.point {
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  border-radius: 50%;
  height: .3rem;
  position: absolute;
  transform-style: preserve-3d;
  width: .3rem;
}


/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: .5fr 2rem 1fr 20rem;
  grid-auto-rows: minmax(5rem, auto);
  column-gap: 4%;
  row-gap: 4%;
  width: 100%;
  height: 200vh;
}

.projects__h2 {
  position: relative;
  font-size: clamp(4rem, calc(100vw / 24 * 2), 12rem);
  line-height: 1;
  letter-spacing: -0.0625em;
  font-variation-settings: 'wght' var(--font-weight);
  white-space: nowrap;
  padding-top: 10%;
  margin-bottom: -50%;
}

.projects__h2 .projects__span {
  display: block;
  width: max-content;
  height: 40vh;
  transform: translateX(calc(-100% + clamp(30rem, calc(100vw / 24 * 18), 70rem)));
  padding-bottom: -30%;
}

/* Projects - Card */
.card__container {
  margin: auto;
  grid-column: 1/4;
  grid-row: 2;
  width: 90%;
  display: grid;
  row-gap: 2em;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: repeat (6, 1fr);
  align-items: center;
}

.card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  align-items: center;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
}

.card--projects {
  height: 65vh;
  width: 100%;
  grid-column: 2;
  grid-row: 1/3;
  background: linear-gradient(217deg, rgba(9, 0, 255, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(255, 140, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(255, 0, 0, .8), rgba(0, 0, 255, 0) 70.71%);
}

.left {
  display: grid;
  height: 80vh;
  width: 90%;
  grid-column: 1;
  grid-row: 2/4;
  background: linear-gradient(217deg, rgba(9, 0, 255, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(255, 140, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(255, 0, 0, .8), rgba(0, 0, 255, 0) 70.71%);
}

.bottom {
  height: 80vh;
  width: 75%;
  grid-column: 2;
  grid-row: 3/5;
  margin-left: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  background: rgba(77, 77, 77, .9);
  color: var(--primary-color);
  opacity: 0;
  transition: all 0.5s;
  font-family: 'Playfair Display', serif;
}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}

.text {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}

.text .old {
  text-decoration: line-through;
  color: var(--secondary-color);
}

.details {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
}

.details__i {
  font-size: 16px;
}

.details__span {
  margin-left: 10px;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover .overlay .head {
  transform: translateY(0px);
}

.card:hover .overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}

.card:hover .overlay .text {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}

.card:hover .overlay .details {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}

/* Projects - Card animations */
.reveal__left {
  position: relative;
  transform: translateX(-3em);
  opacity: 0;
  transition: all 2s ease;
}

.reveal__top--hidden {
  position: relative;
  transform: translateY(3em);
  opacity: 0;
  transition: all 2s ease;
}

/* Projects - Card animations active*/
.reveal__top.active {
  transform: translateY(0em);
}

.reveal__top--hidden.active {
  transform: translateY(0em);
  opacity: 1;
}

.reveal__left.active {
  transform: translateX(0em);
  opacity: 1;
}

.reveal__right.active {
  transform: translateX(0em);
  opacity: 1;
}


/* Knowledge */
.knowledge__section {
  background: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  height: 120vh;
  font-size: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.knowledge__packaging {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
  height: 100%;
  width: 90%;
  margin: auto;
}

.knowledge {
  text-align: left;
  position: relative;
  grid-column: 2;
  width: 100%;
  /* display: flex; */
}

.knowledge .revealed {
  position: relative;
  color: #000;
  font-size: 1.75rem;
  font-weight: 500;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.knowledge .revealed.actived {
  transform: scaleX(1);
  transition-delay: 0s;
}

.knowledge .revealed:nth-child(2) {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 2px;
  display: inline-block;
}

.knowledge .revealed:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e02bff;
  transform-origin: right;
  transition: 0.5s;
  transition-delay: 0s;
}

.knowledge .revealed:nth-child(2):before {
  background: rgba(106, 90, 205, 1);
}

.knowledge .revealed.actived:before {
  transform: scaleX(0);
  transition-delay: 0.5s;
}

.knowledge img {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  max-width: 280px;
  margin-top: 10px;
  opacity: 0;
  transition: 0.5s;
}

.knowledge img.actived {
  opacity: 1;
  left: 0;
}


/* Parallax section */
.section {
  position: relative;
  clip-path: inset(0 0 50% 0);
  margin-bottom: -100vh;
  padding-bottom: 200vh;
}

.section__wrapper {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section__img {
  display: block;
  position: sticky;
  top: 0;
  margin-top: -100vh;
  width: 100%;
  height: 100vh;
}


/* Contact */
.entry__container {
  width: 100%;
  margin: 0 auto;
}

.title__contact {
  font-size: 2.5rem;
  line-height: 3rem;
}

.entry {
  background: white;
  height: 200vh;
}

.entry__table-stand {
  position: absolute;
  left: 100%;
  width: 450px;
  height: 368px;
  opacity: 0;
  z-index: 12;
  transform: rotate(-10deg);
}

.entry__table-stand-s {
  position: relative;
  display: none;
}


/* Lateral */
.lateral__wrapper {
  overflow-y: hidden;
  pointer-events: none;
}

.l__right {
  grid-column: 3;
  margin-left: auto;
  justify-content: end;
}

.l__left {
  grid-column: 1;
}

.wrapper {
  display: flex;
  height: 100%;
}

.lateral__text .move__text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
  writing-mode: tb-rl;
  color: black;
}

.lateral__wrapper {
  overflow-x: hidden;
}


/* Contact - Form */
.container__contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
}

.contact {
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 200vh;
}

.contact__form {
  display: grid;
  height: 80vh;
  width: 35vw;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 2rem 1.5rem;
  margin: auto;
  grid-row: 1;
  grid-column: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Contact - Form > Right */
.contact__right {
  grid-column: 2;
  grid-row: 1/7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(2, 1fr) auto 1fr 1fr;
  row-gap: 1rem;
}

.title-s {
  color: #6391e8;
  display: none;
}

.inputs {
  padding-bottom: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

.input__container {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding: 0;
}

.name {
  grid-row: 2;
  height: 100%;
}

.email {
  grid-row: 3;
  height: 100%;
}

.placeholder {
  position: relative;
  z-index: 1;
  pointer-events: none;
  padding-top: .8rem;
  font-size: 1.22rem;
  opacity: 0.8;
  transform-origin: left;
}

.line__svg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  opacity: 0.8;
}

.elastic__line {
  width: 100%;
}

.textarea {
  width: 100%;
  grid-row: 4;
}

.input__message {
  min-height: 60px;
  resize: none;
  position: relative;
}

.submit {
  height: 2.5rem;
  width: 100%;
  font-weight: 450;
  font-size: 1.2rem;
  background: #6190e8;
  color: white;
  border-radius: 0.2rem;
  border-style: none;
  cursor: pointer;
  grid-row: 5;
  transition: all 1s;
}

.submit:hover {
  transition: all 1s;
  background: rgb(44, 83, 168);
}

.submit {
  grid-row: 6;
}

.count__area {
  grid-row: 5;
  width: 100%;
  font-size: .9rem;
  opacity: .8;
}

.total__span {
  display: inline-flex;
  width: max-content;
  float: right;
}

.count__span {
  display: inline-flex;
  width: max-content;
  float: right;
}

/* Contact - Form > Left */
.contact__left {
  grid-column: 1;
  max-width: 100%;
  grid-row: 1/7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.title {
  color: #6391e8;
}

.dictionary {
  text-overflow: ellipsis;
  max-width: 70%;
  grid-row: 2/5;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
}

.attribute {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  padding: 1rem;
  font-size: 1.2rem;
  opacity: .7;
}

.curly {
  font-size: 1.1rem;
}

.span__name,
.span__email,
.span__message {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}


/* Contact - Form > Background */
.backform {
  height: 95vh;
  width: 45vw;
  z-index: -100;
  position: absolute;
  border-radius: 10px;
  opacity: 0;
  transition: all 1.2s;
}

.purple {
  background-color: rgba(106, 90, 205, .3);
  transform: rotate(-2deg);
}

.pink {
  background-color: rgb(238, 130, 238, .4);
  transform: rotate(-3deg);
}

.blue {
  background-color: rgba(0, 0, 255, .2);
  transform: rotate(-4deg);
}


/* Contact - Form > Submitted */
.submitted {
  position: relative;
  grid-column: 1;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  grid-template-columns: 1fr;
  row-gap: 10%;
  grid-template-rows: auto 1fr;
  pointer-events: none;
  display: none;
  justify-content: center;
}

.sent {
  width: 380px;
  height: 340px;
  margin: auto;
  grid-row: 2;
  grid-column: 1;
}

.submitted__p {
  width: 100%;
  text-align: center;
  line-height: 2rem;
}


/* Footer */

.footer {
  display: grid;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 10000;
  grid-template-rows: repeat(3, 2fr);
  grid-template-columns: .1fr repeat(4, 1fr);
  gap: 2%;
  max-width: 100%;
  width: 100%;
  margin: auto;
  height: 45vh;
}

.footer h2 {
  font-size: 1.5em;
  color: var(--secondary-color);
}

.footer__info,
.footer__explore,
.footer__social {
  margin-top: 30px;
}

.explore__a,
.social__a {
  padding-bottom: 4px;
}

/* Contact - SVG */
#sheet {
  animation: up .8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#check {
  animation: 1.5s rotate .5s 2 ease, .8s up 4s ease infinite;
  animation-direction: alternate;
  transform-origin: center;
  transform-box: fill-box;
}


/* Media Queries */

@media only screen and (max-width: 376px) {
  html {
    font-size: 8px;
  }

  .title__contact {
    font-size: 1.8rem;
  }

  .contact__form {
    padding: 5px;
  }

  .inputs {
    margin-top: -4px;
  }

  .placeholder {
    font-size: 1rem;
  }

  .submit {
    text-align: center;
  }

  .count__area {
    margin-left: auto;
  }

  .inputs,
  .name,
  .email,
  .textarea {
    font-size: .8rem;
  }

  .footer {
    grid-template-columns: repeat(2fr);
  }

  .footer__social {
    grid-column: 1;
  }
}


@media only screen and (max-width: 600px) {

  html {
    font-size: 12px;
  }

  .circle {
    display: none;
  }

  .left {
    height: 40vh;
    width: 70vw;
  }

  .projects__h2 {
    font-size: 4rem;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
  }

  .bottom {
    height: 40vh;
    width: 60vw;
    margin-left: 1rem;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr .3fr;
    width: 90%;
    margin: 0;
    height: 120vh;
  }

  .card__container {
    grid-row: 2;
    grid-column: 1;
  }

  .projects__h2 .projects__span {
    font-size: 3rem;
  }

  .knowledge__section {
    height: 50vh;
  }

  .info__h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .knowledge__section__p {
    font-size: 3rem;
  }

  html {
    scroll-behavior: smooth;
  }

  .projects__h2 .projects__span {
    transform: translateX(0);
  }

  .xsm {
    width: 95%;
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) auto 1fr .2fr;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .sm {
    width: 75vw;
    height: 78vh;
    padding-bottom: 2px;
    padding-top: 10px;
  }

  .-sm {
    width: 88vw;
    height: 90vh;
  }

  .contact__left {
    display: none;
  }

  .contact__right {
    grid-column: 1;
    justify-content: center;
    row-gap: 0;
  }

  .title-s {
    display: block;
  }

  .name {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
  }

  .email {
    grid-row: 3;
    grid-column: 1;
    width: 100%;
  }

  .textarea {
    grid-row: 4;
    grid-column: 1;
    width: 100%;
  }

  .count__area {
    grid-row: 5;
    grid-column: 1;
  }

  .entry__table-stand {
    display: none;
  }

  .submit {
    grid-row: 6;
    grid-column: 1;
    width: 100%;
    margin: auto;
  }

  .entry__table-stand-s {
    display: flex;
    height: 150px;
    grid-row: 5;
    grid-column: 1;
    transform: rotate(-5deg);
    margin-right: auto;
    margin-left: auto;
  }

  .lateral__wrapper {
    display: none;
  }

  .container__contact {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 120vh;
  }

  .entry,
  .entry__container .contact {
    height: 120vh;
    margin: 0;
  }

  .sent {
    width: 100%;
    height: 260px;
  }
}

@media only screen and (max-width: 1245px) {
  .md {
    height: 75vh;
    width: 45vw;
  }

  .-md {
    height: 80vh;
    width: 50vw;
  }

  .entry__table-stand {
    height: 250px;
    margin-left: -64px;
  }

  .lateral__text>.move__text {
    font-size: 6rem;
  }

  .entry__table-stand {
    height: 250px;
    margin-left: -64px;
  }

  .inputs {
    border: none;
    border-bottom: 2px solid #D1D4DA;
    height: 2rem;
    padding-bottom: 0;
  }

  .line__svg,
  .elastic__line {
    display: none;
  }

  .lg {
    height: 75vh;
    width: 60vw;
  }

  .-lg {
    height: 55vh;
    width: 75vw;
  }

  .lateral__text>.move__text {
    font-size: 6rem;
  }

  .entry__table-stand {
    height: 250px;
  }

  .card__container {
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-column: 1;
  }

  .reveal__top--hidden {
    grid-column: 1;
    grid-row: 3;
  }

  .reveal__left {
    grid-column: 1;
    grid-row: 1;
  }
}


@media only screen and (min-width: 1245px) {

  .input__container,
  .elastic__line,
  .line__svg,
  .inputs {
    background-color: transparent;
    fill: transparent;
  }
}

@media only screen and (min-height: 1000px) {
  .md {
    height: 50vh;
    width: 50vw;
  }

  .-md {
    height: 45vh;
    width: 55vw;
  }

  .line__svg,
  .elastic__line {
    display: none;
  }

  .inputs {
    border: none;
    border-bottom: 2px solid #D1D4DA;
    height: 2rem;
    padding-bottom: 0;
  }
}

/*KEYFRAMES*/

/* Keyframes loader*/
@keyframes greet {
  from {
    /* transform: translateX(-4rem); */
    margin-right: -2em;
    opacity: 0;
    transform: translateY(10em);

  }

  to {
    /* transform: translateX(-4rem); */
    opacity: 1;
    transform: translateY(0em);
    margin-right: -2em;
  }
}

@keyframes jumping {
  20% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-1.1rem);
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes otherJump {
  from {
    margin-left: 0em;
    margin-right: 0em;
  }

  to {
    margin-left: 0rem;
    margin-right: 0rem;
  }

}


/* Keyframes - SVG */
@keyframes up {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 25px, 0);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}