/* Loader */
.container__loader {
  z-index: 100000;
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  height: 100vh;
  transition: all 4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Jumping Dots */
.loader__span {
  width: .6rem;
  height: .6rem;
  margin: 0 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  animation: jumping 1.4s 2 linear forwards;
}

.loader__span:nth-child(2) {
  animation-delay: 0.35s;
}

/* Say hi */
.loader__h2 {
  margin-left: -5.1rem;
  width: 5.6em;
  padding: .5rem;
  transition: all 4s;
  font-size: 1.4em;
  animation: 2s greet forwards;
}

.outsider {
  transition: all 4s;
  animation: 1.4s jumping 0.75s 2 linear, 1.4s jumping 6s 2.5 linear forwards, 3.5s otherJump 6s forwards, 4s scalar 8s linear forwards;
}

/* Keyframes loader*/
@keyframes greet {
  from {
    /* transform: translateX(-4rem); */
    margin-right: -2em;
    opacity: 0;
    transform: translateY(10em);

  }

  to {
    /* transform: translateX(-4rem); */
    opacity: 1;
    transform: translateY(0em);
    margin-right: -2em;
  }
}

@keyframes jumping {
  20% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-1.1rem);
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes otherJump {
  from {
    margin-left: 0em;
    margin-right: 0em;
  }

  to {
    margin-left: 40em;
    margin-right: -16.5em;
  }

}

@keyframes scalar {
  from {
    transform: translateY(-1.2rem);
    transition: linear;
  }

  to {
    transition: linear;
    transform: translateY(-3.4rem);
  }
}